<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>781840244242-ob5ejbuvb7eenr6tkuj1ole5nnrk8ss9.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.781840244242-ob5ejbuvb7eenr6tkuj1ole5nnrk8ss9</string>
		<key>API_KEY</key>
		<string>AIzaSyAkCi3qshDgJ75vLPpB0XdB2Z1YHrwHb6w</string>
		<key>GCM_SENDER_ID</key>
		<string>781840244242</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.cryptoWallet</string>
		<key>PROJECT_ID</key>
		<string>cryptowallet-decimo</string>
		<key>STORAGE_BUCKET</key>
		<string>cryptowallet-decimo.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:781840244242:ios:22dd4c40808fb644d802cb</string>
	</dict>
</plist>